body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff9fb;
  color: #333;
  text-align: center;
}

header {
  background-color: #f48fb1;
  color: white;
  padding: 15px;
}
section {
  padding: 30px 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff9fb;
  color: #333;
  text-align: center;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

button {
  background-color: #f48fb1;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ec407a;
}

footer {
  background-color: #f48fb1;
  color: white;
  padding: 10px;
}
